<div id ="adwrapper">
<%adscount = @ads.count%>
<br>
وجد <%=adscount%> نتيجة <br>
<% pageads = @ads.limit(10).offset((params[:page].to_i-1)*10)%>
<%pageads.each do |a|%>
<div class = "post_wrapper">
<div style="float:right;width:200px;">
<%= link_to("/ads/#{a.ad.id}") do %>
  <%= image_tag a.ad.image_url.to_s,size:"150x150" %>
<% end %>
</div>
<div style="float:center;">
<%=link_to a.ad.title, "/ads/#{a.ad.id}"%><br>
<%= a.vehicle.make%> | <%=a.vehicle.model%><br>
السعر:<%= number_with_delimiter(a.vehicle.price, :delimiter => ',')%>
السنة: <%= a.vehicle.manyear%>
<br>
<%if a.ad.description.length > 300%>
<%=a.ad.description.first(300)%> ... <br>
<%else%>
<%=a.ad.description%><br>
<%end%>
</div>
</div>
<%end%>
<%if adscount > 10 %>
<%if params[:page] != "1"%>
<%=link_to "↠", "/search/1?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}", {:style => 'color:black;'}%>
<%=link_to "→", "/search/#{params[:page].to_i-1}?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}", {:style => 'color:black;'}%>
<%end%>
<%i=1%>
<%count = 4%>
<%until i > 8%>
<%if (params[:page].to_i)+i-count > 0%>
<%if adscount>((params[:page].to_i)+i-count-1)*10%>
<%if i == count %>
<%=link_to "#{(params[:page].to_i)+i-count}", "/search/#{params[:page].to_i+i-count}?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}", {:style => 'color:black;'}%>
<%else%>
<%=link_to "#{(params[:page].to_i)+i-count}", "/search/#{params[:page].to_i+i-count}?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}"%>
<%end%>
<%end%>
<%else%>
<%count = count - 1%>
<%i = i - 1%>
<%end%>
<%i+=1%>
<%end%>
<%if ((params[:page].to_i)+i-count-1) < (adscount / 10.0).ceil %>
...
<%end%>
<%if (adscount > ((params[:page].to_i))*10)%>
<%=link_to "←", "/search/#{params[:page].to_i+1}?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}", {:style => 'color:black;'}%>
<%=link_to "↞", "/search/#{(adscount / 10.0).ceil}?utf8=✓&make=#{params[:make]}&model=#{params[:model]}&manyear=#{params[:manyear]}&country=#{params[:country]}&axles=#{params[:axles]}&gearbox=#{params[:gearbox]}&colour=#{params[:colour]}&price=#{params[:price]}&sort=#{params[:sort]}&capacity=#{params[:capacity]}&mileage=#{params[:mileage]}&type=#{params[:type]}&new=#{params[:new]}&imported=#{params[:imported]}&purchase=#{params[:purchase]}", {:style => 'color:black;'}%>
<%end%>
<%end%>
 
</div>