<%=form_tag "/search/1", :method => 'get' do%>
<table>
<tr>
<td>الماركة</td>

 <td><%= select_tag(:make, options_for_select([['Mercedes', 'Mercedes'],
                 ['Man', 'Man'],['Volvo','Volvo'],['Chevrolet','Chevrolet']], params[:make]), :include_blank => true) %></td>

<td>الموديل</td>

<td><%= select_tag(:model, options_for_select([['i10', 'i10'],
                 ['w30', 'w30'],['503','503']], params[:model]), :include_blank => true)%></td>

<td>سنة الصنع</td>
<td><%=number_field_tag :manyear,params[:manyear]%></td>
<td>البلد</td>
<td><%= select_tag(:country, options_for_select([['Egypt', 'Egypt'],
                 ['madagascar', 'madagascar']], params[:country]), :include_blank => true) %></td>

</tr>
<tr>
<td>المحاور</td>
<td><%= select_tag(:axles, options_for_select([['1', 1],['2', 2],['3', 3],['3>', 4]], params[:axles]), :include_blank => true) %></td>

<td>عجلة السرعة</td>

<td><%= select_tag(:gearbox, options_for_select([['Automatic', 1],['Manual', 0]], params[:gearbox]), :include_blank => true) %></td>


<td>اللون</td>

<td><%= select_tag(:colour, options_for_select([['white', 'white'],['black', 'black'],['yellow', 'yellow'],['brown', 'brown'],['green', 'green'],['red', 'red'],['orange', 'orange'],['blue', 'blue'],['grey', 'grey']], params[:colour]), :include_blank => true) %></td>
<td>للإيجار</td>
<td><%= check_box_tag :sale%></td>
<td>السعر من</td>
<td><%= number_field_tag :price_from, params[:price_from]%></td>
<td>إلى</td>
<td><%= number_field_tag :price_to, params[:price_to]%></td>



</tr>
</table>


 جديدة
 <%if params[:new] == "0"%>
<%= radio_button_tag(:new, "0", checked = true) %>
<%else%>
<%= radio_button_tag(:new, "0") %>
<%end%>
استيراد
 <%if params[:new] == "1"%>
<%= radio_button_tag(:new, "1", checked = true) %>
<%else%>
<%= radio_button_tag(:new, "1") %>
<%end%>
 مستعملة
 <%if params[:new] == "2"%>
<%= radio_button_tag(:new, "2", checked = true) %>
<%else%>
<%= radio_button_tag(:new, "2") %>
<%end%>
 

 
<div id="atrrparent">
<div id="vanwrapper">
<%=render 'ads/vanform'%>
</div>
<div id = "sttwrapper">
<%= render 'ads/sttform'%>
</div>
<div id = "semiwrapper">
<%= render 'ads/semiform'%>
</div>
<div id = "heavywrapper">
<%= render 'ads/heavyform'%>
</div>
</div>
<div style="float:left;margin-top:50px;">
<%= submit_tag "بحث", :name => nil,:class => 'submit_button'%>
</div>
<%end%>