<div id = "adwrapper">
<%=form_for :ad do |a|%>

<ul>
<li>
<%= t("ad.title")%> : <%= a.text_field :title, :class => find_errors(@ad, :title)%>
</li>

	<%=fields_for :vehicle do |v|%>
	<li>
<%= t("ad.manu")%> : <%= v.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
</li><li>
	<%= t("ad.model")%>: <%= v.select :model,([ "i10" , "w30" , "503"])%>
</li>
	<%if @van != nil%>
	<%=fields_for :van do |van|%>
	<li>
	<%= t("ad.capacity")%> : <%= van.check_box :capacity%>
	</li><li>
<%= t("ad.mileage")%> : <%= van.number_field :mileage, :class => find_errors(@van, :mileage)%>
</li>
	<%end%>
	<%elsif @semitrailer != nil%>
	<%=fields_for :semitrailer do |s|%>
	<li>
	<%= t("ad.capacity")%> : <%= s.check_box :capacity%>
	</li>
	<%end%>
	<%elsif @semitrailertruck != nil%>
	<%=fields_for :semitrailertruck do |st|%>
	<li>
	<%= t("ad.mileage")%> : <%= st.number_field :mileage, :class => find_errors(@semitrailertruck, :mileage)%>
	</li>
	<%end%>
	<%elsif @heavytruck != nil%>
	<%=fields_for :heavytruck do |h|%>
	<li>
	<%= t("ad.capacity")%> : <%= h.check_box :capacity%>
	</li><li>
	<%= t("ad.mileage")%> : <%= h.number_field :mileage, :class => find_errors(@heavytruck, :mileage)%>
	</li>
	<%end%>
	<%end%>

	<li>

	<%= t("ad.man_year")%> : <%= v.number_field :manyear, :class => find_errors(@vehicle, :manyear)%>

	</li><li>
	<%= t("signup_page.country")%>: <%= v.select :country ,(["Egypt" , "madagascar"])%>
	</li><li>
	 <%= t("ad.axles") %>: <%= v.select(:axles) do %>
	</li><li>
      <% [['1', '1'], ['2', '2'], ['3', '3'], ['3>', '4']].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li>
	<li>
	<%= t("ad.transmission")%> : <%= v.select(:gearbox) do %>
      <% [['Automatic', true], ['Manual', false]].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li><li>
	<%= t("ad.colour")%> : <%= v.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
	</li>

	<li>
	<%= t("ad.price")%> : <%= v.number_field :price, :class => find_errors(@vehicle, :price)%>
	</li>
	<%end%>
	<%=fields_for :make do |m|%>
	<li>
	<%= t("ad.new")%>: <%= m.radio_button :new, "0"%>
	</li><li>
	<%= t("ad.imported")%>: <%= m.radio_button :new,"1"%>
	</li><li>

	<%= t("ad.used")%>: <%= m.radio_button :new,"2"%>
	</li><li>
	<%end%>
	<%= t("ad.description")%> :
	 <%= t("ad.rent") %>: <%=m.check_box :sale%>

	</li><li>
	<%= a.text_area :description, size: "100x20"%>

	</li>
	<li><%= a.file_field :image %></li>
	<li><%= a.file_field :image1 %></li>
	<li><%= a.file_field :image2 %></li>
	<li><%= a.file_field :image3 %></li>
	<li><%= a.file_field :image4 %></li>
<div style="margin-right:50%">
	<li><%= a.submit  t("ad.save")%></li>
	</div>
<%end%>



</ul>
</div>
