

<%if request.original_fullpath == "/ads/new"%>
<div style="text-align:center;width:700px;margin: 10px auto;">
  <button onclick="location.href='/ads/new?type=van'" id="newvanbutton">
<div style="position:relative; top:20px;">عربة</div>
  </button>
  <button onclick="location.href='/ads/new?type=semitrailer'" id="newsemibutton">
<div style="position:relative; top:20px;">شبه مقطورة</div>
  </button>
  <button onclick="location.href='/ads/new?type=semitrailertruck'" id="newsttbutton">
<div style="position:relative; top:20px;">شاحنة شبه مقطورة</div>
  </button>
  <button onclick="location.href='/ads/new?type=heavytruck'" id="newheavybutton">
<div style="position:relative; top:20px;">شاحنة ثقيلة</div>
  </button><br><br><br><br>
  اختر نوع الشاحنة لإضافة
</div>
<%elsif ["/ads/new?type=van","/ads/new?type=semitrailer","/ads/new?type=heavytruck","/ads/new?type=semitrailertruck"].include? request.original_fullpath%>
<div style="width:700px;margin: 10px auto;">
<%if request.original_fullpath == "/ads/new?type=van"%>
  <button onclick="location.href='/ads/new?type=van'" id="newvanbutton" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new?type=van'" id="newvanbutton">
  <%end%>
<div style="position:relative; top:20px;">عربة</div>
  </button>
  <%if request.original_fullpath == "/ads/new?type=semitrailer"%>
  <button onclick="location.href='/ads/new?type=semitrailer'" id="newsemibutton" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new?type=semitrailer'" id="newsemibutton">
  <%end%>
<div style="position:relative; top:20px;">شبه مقطورة</div>
  </button>
  <%if request.original_fullpath == "/ads/new?type=semitrailertruck"%>
  <button onclick="location.href='/ads/new?type=semitrailertruck'" id="newsttbutton" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new?type=semitrailertruck'" id="newsttbutton">
  <%end%>
<div style="position:relative; top:20px;">شاحنة شبه مقطورة</div>
  </button>
  <%if request.original_fullpath == "/ads/new?type=heavytruck"%>
  <button onclick="location.href='/ads/new?type=heavytruck'" id="newheavybutton" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new?type=heavytruck'" id="newheavybutton">
  <%end%>
<div style="position:relative; top:20px;">شاحنة ثقيلة</div>
  </button>
</div>
<div id = "adwrapper">
<%=form_for :ad do |a|%>

<ul>
<li>
العنوان: <%= a.text_field :title%>
</li>

	<%=fields_for :vehicle do |v|%>
	<li>
انتاج: <%= v.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
</li><li>
	الموديل: <%= v.select :model,([ "i10" , "w30" , "503"])%>
</li>
	<%if request.original_fullpath == "/ads/new?type=van"%>
	<%=fields_for :van do |van|%>
	<li>
	حمولة: <%= van.check_box :capacity%>
	</li><li>
مسافة: <%= van.number_field :mileage%>
</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new?type=semitrailer"%>
	<%=fields_for :semitrailer do |s|%>
	<li>
	حمولة: <%= s.check_box :capacity%>
	</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new?type=semitrailertruck"%>
	<%=fields_for :semitrailertruck do |st|%>
	<li>
	مسافة: <%= st.number_field :mileage%>
	</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new?type=heavytruck"%>
	<%=fields_for :heavytruck do |h|%>
	<li>
	حمولة: <%= h.check_box :capacity%>
	</li><li>
	مسافة:  <%= h.number_field :mileage%>
	</li>
	<%end%>
	<%end%>
	<li>
	سنة الانتاج: <%= v.number_field :manyear%>
	</li><li>
	البلد: <%= v.select :country ,(["Egypt" , "madagascar"])%>
	</li><li>
	المحاور النقلات: <%= v.select(:axles) do %>
	</li><li>
      <% [['1', '1'], ['2', '2'], ['3', '3'], ['3>', '4']].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li>
	<li>
	عجلة السرعة: <%= v.select(:gearbox) do %>
      <% [['Automatic', true], ['Manual', false]].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li><li>
	اللون: <%= v.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
	</li>

	<li>
	السعر: <%= v.number_field :price%>
	</li>
	<%end%>
	<%=fields_for :make do |m|%>
	<li>
	جديدة؟ <%= m.check_box :new%>
	</li><li>
	مستوردة؟ <%= m.check_box :imported%>
	</li><li>
	للبيع؟ <%= m.check_box :purchase%>
	</li><li>
	<%end%>
	الوصف: (اختياري)
	</li><li>
	<%= a.text_area :description, size: "35x7"%>
	
	</li>
	<li><%= a.file_field :image%></li>
	<li><%= a.file_field :image1 %></li>
	<li><%= a.file_field :image2 %></li>
	<li><%= a.file_field :image3 %></li>
	<li><%= a.file_field :image4 %></li>
<div style="margin-right:50%">
	<li><%= a.submit "إضافة الإعلان"%></li>
	</div>
	<%end%>
	<%end%>

</div>
</ul>



