

<%if request.original_fullpath == "/ads/new"%>
<div style="text-align:center;width:700px;margin: 10px auto;">
  <button onclick="location.href='/ads/new/van'" id="newvanbutton" class="newVehicleButtons">
<div style="position:relative; top:20px;">عربة</div>
  </button>
  <button onclick="location.href='/ads/new/semitrailer'" id="newsemibutton" class="newVehicleButtons">
<div style="position:relative; top:20px;">شبه مقطورة</div>
  </button>
  <button onclick="location.href='/ads/new/semitrailertruck'" id="newsttbutton" class="newVehicleButtons">
<div style="position:relative; top:20px;">شاحنة شبه مقطورة</div>
  </button>
  <button onclick="location.href='/ads/new/heavytruck'" id="newheavybutton" class="newVehicleButtons">
<div style="position:relative; top:20px;">شاحنة ثقيلة</div>
  </button><br><br><br><br>
  اختر نوع الشاحنة لإضافة
</div>
<%elsif ["/ads/new/van","/ads/new/semitrailer","/ads/new/heavytruck","/ads/new/semitrailertruck"].include? request.original_fullpath%>
<div style="width:700px;margin: 10px auto;">
<%if request.original_fullpath == "/ads/new/van"%>
  <button onclick="location.href='/ads/new/van'" id="newvanbutton" class="newVehicleButtons" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new/van'" id="newvanbutton" class="newVehicleButtons">
  <%end%>
<div style="position:relative; top:20px;">عربة</div>
  </button>
  <%if request.original_fullpath == "/ads/new/semitrailer"%>
  <button onclick="location.href='/ads/new/semitrailer'" id="newsemibutton" class="newVehicleButtons" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new/semitrailer'" id="newsemibutton" class="newVehicleButtons">
  <%end%>
<div style="position:relative; top:20px;">شبه مقطورة</div>
  </button>
  <%if request.original_fullpath == "/ads/new/semitrailertruck"%>
  <button onclick="location.href='/ads/new/semitrailertruck'" id="newsttbutton" class="newVehicleButtons" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new/semitrailertruck'" id="newsttbutton" class="newVehicleButtons">
  <%end%>
<div style="position:relative; top:20px;">شاحنة شبه مقطورة</div>
  </button>
  <%if request.original_fullpath == "/ads/new/heavytruck"%>
  <button onclick="location.href='/ads/new/heavytruck'" id="newheavybutton" class="newVehicleButtons" style="background-color:#9DE56A">
  <%else%>
  <button onclick="location.href='/ads/new/heavytruck'" id="newheavybutton" class="newVehicleButtons">
  <%end%>
<div style="position:relative; top:20px;">شاحنة ثقيلة</div>
  </button>
</div>
<div id = "adwrapper">
<%=form_for :ad do |a|%>

<ul>
<li>
عنوان الإعلان: <%= a.text_field :title, :class => find_errors(@ad, :title)%>
</li>

	<%=fields_for :vehicle do |v|%>
	<li>
الماركة: <%= v.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
</li><li>
	الموديل: <%= v.select :model,([ "i10" , "w30" , "503"])%>
</li>
	<%if request.original_fullpath == "/ads/new/van"%>
	<%=fields_for :van do |van|%>
	<li>
	حمولة: <%= van.check_box :capacity%>
	</li><li>
مسافة: <%= van.number_field :mileage, :class => find_errors(@van, :mileage)%>
</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new/semitrailer"%>
	<%=fields_for :semitrailer do |s|%>
	<li>
	حمولة: <%= s.check_box :capacity%>
	</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new/semitrailertruck"%>
	<%=fields_for :semitrailertruck do |st|%>
	<li>
	مسافة: <%= st.number_field :mileage, :class => find_errors(@semitrailertruck, :mileage)%>
	</li>
	<%end%>
	<%elsif request.original_fullpath == "/ads/new/heavytruck"%>
	<%=fields_for :heavytruck do |h|%>
	<li>
	حمولة: <%= h.check_box :capacity%>
	</li><li>
	مسافة: <%= h.number_field :mileage, :class => find_errors(@heavytruck, :mileage)%>
	</li>
	<%end%>
	<%end%>
	<li>
	سنة الصنع: <%= v.number_field :manyear, :class => find_errors(@vehicle, :manyear)%>
	</li><li>
	البلد: <%= v.select :country ,(["Egypt" , "madagascar"])%>
	</li><li>
	المحاور النقلات: <%= v.select(:axles) do %>
	</li><li>
      <% [['1', '1'], ['2', '2'], ['3', '3'], ['3>', '4']].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li>
	<li>
	عجلة السرعة: <%= v.select(:gearbox) do %>
      <% [['Automatic', true], ['Manual', false]].each do |c| -%>
	<%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>
	</li><li>
	اللون: <%= v.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
	</li>

	<li>
	السعر: <%= v.number_field :price, :class => find_errors(@vehicle, :price)%>
	</li>
	<%end%>
	<%=fields_for :make do |m|%>
	<li>
	جديدة: <%= m.radio_button :new, "0"%>
	</li><li>
	استيراد: <%= m.radio_button :new,"1"%>
	</li><li>
	مستعملة: <%= m.radio_button :new,"2"%>
	</li><li>
	<%end%>
	الوصف: (اختياري)
	</li><li>
	<%= a.text_area :description, size: "100x20"%>

	</li>
	<li><%= a.file_field :image %></li>
	<li><%= a.file_field :image1 %></li>
	<li><%= a.file_field :image2 %></li>
	<li><%= a.file_field :image3 %></li>
	<li><%= a.file_field :image4 %></li>
<div style="margin-right:50%">
	<li><%= a.submit "إضافة الإعلان"%></li>
	</div>
	<%end%>
	<%end%>

</div>
</ul>



