<div id = "adwrapper">
<div style ="overflow:hidden;">
<div id="adactions">
<ul>
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<li><%= link_to"/ads/bookmark/#{@ad.id}", method: :post do %>
	  <%= image_tag "save-icon.png", size:"20x20"%>
	<% end %>
<%= link_to t("ad.bookmark"), "/ads/bookmark/#{@ad.id}", method: :post%></li>
<%else%>
<li><%= link_to"/ads/unbookmark/#{@ad.id}", method: :post do %>
	  <%= image_tag "save-icon.png", size:"20x20"%>
	<% end %>
<%= link_to  t("ad.rm_bookmark"), "/ads/unbookmark/#{@ad.id}", method: :post%></li>
<%end%>
<%if @seller.id == self.current_user.id%>
<li><%= link_to "/ads/edit/#{@ad.id}" do %>
	  <%= image_tag "edit.png", size:"20x20"%>
	<% end %>
<%= link_to  t("ad.edit"), "/ads/edit/#{@ad.id}"%></li>
<li><%= link_to "/ads/delete/#{@ad.id}", method: :post,data: {confirm: 'Are you sure?'} do %>
	  <%= image_tag "delete.png", size:"16x16"%>
	<% end %>
<%= link_to  t("ad.rm_ad"), "/ads/delete/#{@ad.id}", :style=>'color: red', method: :post,data: {confirm: 'Are you sure?'}%></li>
<%end%>
<%end%>
</ul>
</div>
<div style ="float:right;">
<div class="fb-share-button" data-href="<%=request.original_url%>" data-layout="button"></div>
</div>
</div>
<ul>
<div id="showadwrapper">
<div style= "font-size:150%;">
<li><%=@ad.title%></li>
</div>

<li><b><%= t("ad.type")%>:</b>

<%if @van!=nil%>
<%= t("header.van")%>
<%elsif @heavytruck !=nil%>
<%= t("header.heavy_truck")%>
<%elsif @semitrailer !=nil%>
 <%= t("header.semi_trailer")%>
<%elsif @semitrailertruck !=nil%>
 <%= t("header.semi_trailer_truck")%>
<%end%>
</li>
<li>
<b><%= t("ad.manu")%> :</b>
<%=@vehicle.make%>
</li>
<li>
<b><%= t("ad.model")%> :</b>
<%=@vehicle.model%><li>
<li>
<b> <%= t("ad.info")%> :</b>
<%if @make.new == 0%>
<%= t("ad.new")%>
<%elsif @make.new == 1%>
<%= t("ad.imported")%>
<%elsif @make.new == 2%>
<%= t("ad.used")%>
<%end%>
<%if !@make.sale%>
<%= t("ad.for_sale")%>
<%else%>
<%= t("ad.rent")%>
<%end%>
</li>
<li>
<b><%= t("ad.man_year")%> :</b>
<%=@vehicle.manyear%>
</li><li>
<b><%= t("signup_page.country")%> :</b>
<%=@vehicle.country%>
</li><li>
<b><%= t("ad.axles")%> :</b>
<%if @vehicle.axles > 3%>
>3
<%else%>
<%=@vehicle.axles%>
<%end%>
</li><li>
<b><%= t("ad.transmission")%>  :</b>
<%if @vehicle.gearbox%>
<%= t("ad.auto")%>
<%else%>
<%= t("ad.manual")%>

<%end%>
</li>
<li>
<b><%= t("ad.colour")%>  :</b>
<%=@vehicle.colour%>
</li><li>
<b><%= t("ad.price")%>  :</b>
<%= number_with_delimiter(@vehicle.price, :delimiter => ',')%>
</li>
<%if @van !=nil %>
<li><b><%= t("ad.capacity")%> : </b>
<%=@van.capacity%></li>
<li><b><%= t("ad.mileage")%> : </b>
<%=@van.mileage%></li>
<%elsif @semitrailer !=nil%>
<li><b><%= t("ad.capacity")%>  :</b>
<%=@semitrailer.capacity%></li>
<%elsif @semitrailertruck !=nil%>
<li><b><%= t("ad.mileage")%>  :</b>
<%=@semitrailertruck.mileage%></li>
<%elsif @heavytruck !=nil%>
<li><b><%= t("ad.capacity")%>  :</b>
<%=@heavytruck.capacity%></li>
<li><b><%= t("ad.mileage")%>  :</b>
<%=@heavytruck.mileage%></li>
<%end%>
<%if @ad.description != ""%>
<li><b><%= t("ad.description")%> :</b></li>
<li><%=@ad.description%></li>
<%end%>
</div>
<div id ="sellerinfo">
<li><b><%= t("ad.seller")%>  :</b></li>
<li><b><%= t("signup_page.phone")%>:</b></li>
<li><%=@ad.phone%></li>



<li><%=link_to "#{@seller.fname} #{@seller.lname}", "/users/#{@seller.id}"%></li>
<li>
 <b><%= t("signup_page.phone")%>  : </b>
</li><li>
<%=@seller.phone%>
</li><li>
 <b><%= t("signup_page.email")%>  : </b>
</li><li>
<%=@seller.email%>
</li>


<% unless @pictures.empty? %>
<%@pictures.each do |p| %>
<%= image_tag p.image_url, size: "250x250" %>
<%end%>
<%else%>
<%if @van!= nil%>
 <%= image_tag "van.png", size: "150x150"%>
    <%elsif @heavytruck !=nil%>
    <%= image_tag "heavytruck.png", size: "150x150"%>
        <%elsif @semitrailertruck !=nil%>
        <%= image_tag "zefttruck.png", size: "150x150"%>
          <%elsif @semitrailer!=nil%>
         <%= image_tag "semitrailer.png", size: "150x150"%>
	<%end%>
	<%end%>

</div>

</div>

