<div id = "adwrapper">
<div style ="overflow:hidden;">
<div id="adactions">
<ul>
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<li><%= link_to"/ads/bookmark/#{@ad.id}", method: :post do %>
	  <%= image_tag "save-icon.png", size:"20x20"%>
	<% end %>
<%= link_to "حفظ الإعلان في الجراج", "/ads/bookmark/#{@ad.id}", method: :post%></li>
<%else%>
<li><%= link_to"/ads/unbookmark/#{@ad.id}", method: :post do %>
	  <%= image_tag "save-icon.png", size:"20x20"%>
	<% end %>
<%= link_to "إزالة الإعلان من الجراج", "/ads/unbookmark/#{@ad.id}", method: :post%></li>
<%end%>
<%if @seller.id == self.current_user.id%>
<li><%= link_to "/ads/edit/#{@ad.id}" do %>
	  <%= image_tag "edit.png", size:"20x20"%>
	<% end %>
<%= link_to "تعديل الإعلان", "/ads/edit/#{@ad.id}"%></li>
<li><%= link_to "/ads/delete/#{@ad.id}", method: :post,data: {confirm: 'Are you sure?'} do %>
	  <%= image_tag "delete.png", size:"16x16"%>
	<% end %>
<%= link_to "إزالة الإعلان", "/ads/delete/#{@ad.id}", :style=>'color: red', method: :post,data: {confirm: 'Are you sure?'}%></li>
<%end%>
<%end%>
</ul>
</div>
<div style ="float:right;">
<div class="fb-share-button" data-href="<%=request.original_url%>" data-layout="button"></div>
</div>
</div>
<ul>
<div id="showadwrapper">
<div style= "font-size:150%;">
<li><%=@ad.title%></li>
</div>

<li><b>النوع:</b>

<%if @van!=nil%>
عربة
<%elsif @heavytruck !=nil%>
 الشاحنات الثقيلة
<%elsif @semitrailer !=nil%>
 شبه مقطورة 
<%elsif @semitrailertruck !=nil%>
 الشاحنات أشباه المقطورة
<%end%>
</li>
<li>
<b>الماركة :</b>
<%=@vehicle.make%>
</li>
<li>
<b>الموديل :</b>
<%=@vehicle.model%><li>
<li>
<b>معلومات عربة النقل :</b>
<%if @make.new == 0%>
جديدة 
<%elsif @make.new == 1%>
استيراد 
<%elsif @make.new == 2%>
مستعملة
<%end%>
<%if !@make.sale%>
للبيع
<%else%>
للإيجار
<%end%>
</li>
<li>
<b>سنة الصنع :</b>
<%=@vehicle.manyear%>
</li><li>
<b>البلد :</b>
<%=@vehicle.country%>
</li><li>
<b>المحاور النقلات :</b>
<%if @vehicle.axles > 3%>
>3
<%else%>
<%=@vehicle.axles%>
<%end%>
</li><li>
<b>عجلة السرعة :</b>
<%if @vehicle.gearbox%>
أتوماتيك
<%else%>
مانيوال

<%end%>
</li>
<li>
<b>اللون :</b>
<%=@vehicle.colour%>
</li><li>
<b>السعر :</b>
<%= number_with_delimiter(@vehicle.price, :delimiter => ',')%>
</li>
<%if @van !=nil %>
<li><b>حمولة: </b>
<%=@van.capacity%></li>
<li><b>مسافة: </b>
<%=@van.mileage%></li>
<%elsif @semitrailer !=nil%>
<li><b>حمولة :</b>
<%=@semitrailer.capacity%></li>
<%elsif @semitrailertruck !=nil%>
<li><b>مسافة :</b>
<%=@semitrailertruck.mileage%></li>
<%elsif @heavytruck !=nil%>
<li><b>حمولة :</b>
<%=@heavytruck.capacity%></li>
<li><b>مسافة :</b>
<%=@heavytruck.mileage%></li>
<%end%>
<%if @ad.description != ""%>
<li><b>الوصف:</b></li>
<li><%=@ad.description%></li>
<%end%>
</div>
<div id ="sellerinfo">
<li><b>اسم البائع :</b></li>

<li><%=link_to "#{@seller.fname} #{@seller.lname}", "/users/#{@seller.id}"%></li>
<li>
 <b>تليفون : </b>
</li><li>
<%=@seller.phone%>
</li><li>
 <b>البريد الالكتروني : </b>
</li><li>
<%=@seller.email%>
</li>

<%if @ad.image_url.to_s != ""%>
<%= link_to(@ad.image_url.to_s) do %>
  <%= image_tag @ad.image_url.to_s,size:"300x180" %>
<% end %>
<%end%>

<%if @ad.image1_url.to_s != ""%>
<%= link_to(@ad.image1_url.to_s) do %>
  <%= image_tag @ad.image1_url.to_s,size:"300x180" %>
<% end %>
<%end%>

<%if @ad.image2_url.to_s != ""%>
<%= link_to(@ad.image2_url.to_s) do %>
  <%= image_tag @ad.image2_url.to_s,size:"300x180" %>
<% end %>
<%end%>

<%if @ad.image3_url.to_s != ""%>
<%= link_to(@ad.image3_url.to_s) do %>
  <%= image_tag @ad.image3_url.to_s,size:"300x180" %>
<% end %>
<%end%>

<%if @ad.image4_url.to_s != ""%>
<%= link_to(@ad.image4_url.to_s) do %>
  <%= image_tag @ad.image4_url.to_s,size:"300x180" %>
<% end %>
<%end%>
</div>

</div>

