<br>
<div style ="text-align: left">
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<%= link_to "حفظ الإعلان في الجراج", "/ads/bookmark/#{@ad.id}", method: :post%>
<%else%>
<%= link_to "إزالة الإعلان من الجراج", "/ads/unbookmark/#{@ad.id}", method: :post%>
<%end%><br>
<%if @seller.id == self.current_user.id%>
<%= link_to "إزالة الإعلان", "/ads/delete/#{@ad.id}", method: :post, :style=>'color: red;'%>
<br>
<%= link_to "تعديل الإعلان", "/ads/edit/#{@ad.id}"%>

<%end%>
<%end%>
</div>
<div class = "show_wrapper">
<b>بيانات البائع</b>
<br>
<%=link_to  "#{@seller.fname} #{@seller.lname}", "/users/#{@seller.id}"%><br>
<b> تليفون : </b>
<br><%=@seller.phone%><br>
<b> البريد الالكتروني : </b>
<br> <%=@seller.email%>
<br><b>العنوان</b>
<br>
<%=@ad.title%>
<br>
<b>الوصف</b>
<br>
<%=@ad.description%>
<br>
<b>النوع</b>
<br>
<%if @van!=nil%>
<b>عربة</b>
<%elsif @heavytruck !=nil%>
<b> الشاحنات الثقيلة </b>
<%elsif @semitrailer !=nil%>
<b> شبه مقطورة </b>
<%elsif @semitrailertruck !=nil%>
<b> الشاحنات أشباه المقطورة </b>
<%end%>
<br>
<b>انتاج</b>
<br>
<%=@vehicle.make%>
<br>
<b>الموديل</b>
<br>
<%=@vehicle.model%><br>
<b>معلومات عربة النقل</b><br>
<%if @make.new%>
|New
<%end%>
<%if @make.imported%>
| Imported
<%end%>
<%if @make.purchase%>
| Purchase
<%end%>
<br>

<b>سنة الانتاج</b>
<br>
<%=@vehicle.manyear%><br>
<b>البلد</b>
<br>
<%=@vehicle.country%><br>
<b>المحاور (النقلات) </b>
<br>
<%=@vehicle.axles%><br>
<b>عجلة السرعة</b>
<br>
<%if @vehicle.gearbox == 1%>
Semi Automatic
<%elsif @vehicle.gearbox == 2%>
Manual
<%else%>
Automatic
<%end%><br>
<b>اللون</b>
<br>
<%=@vehicle.colour%><br>
<b>السعر</b>
<br>
<%=@vehicle.price%><br>

<%if @van !=nil %>
<b>السعة</b><br>
<%=@van.capacity%><br>
<b>عدد الأميال</b><br>
<%=@van.mileage%><br>
<%elsif @semitrailer !=nil%>
<b>القدرة</b><br>
<%=@semitrailer.capacity%><br>
<%elsif @semitrailertruck !=nil%>
<b>النوع</b><br>
<%=@semitrailertruck.type%><br>
<b>عدد الأميال</b><br>
<%=@semitrailertruck.mileage%><br>
<%elsif @heavytruck !=nil%>
<b>السعة</b><br>
<%=@heavytruck.capacity%><br>
<b>عدد الأميال</b><br>
<%=@heavytruck.mileage%><br>
<%end%>
</div>