<div id = "adwrapper">
<div style ="overflow:hidden;">
<div style ="text-align: left;float:left;">
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<%= link_to "حفظ الإعلان في الجراج", "/ads/bookmark/#{@ad.id}", method: :post%>
<%else%>
<%= link_to "إزالة الإعلان من الجراج", "/ads/unbookmark/#{@ad.id}", method: :post%>
<%end%><br>
<%if @seller.id == self.current_user.id%>
<%= link_to "إزالة الإعلان", "/ads/delete/#{@ad.id}", method: :post, :style=>'color: red;'%>
<br>
<%= link_to "تعديل الإعلان", "/ads/edit/#{@ad.id}"%>

<%end%>
<%end%>
</div>
<div style ="float:right;">
<div class="fb-share-button" data-href="<%=request.original_url%>" data-layout="button"></div>
</div>
</div>
<div id="showadwrapper">
<div style= "font-size:150%;">
<%=@ad.title%>
</div>
<br>
<b>النوع:</b>
<%if @van!=nil%>
عربة
<%elsif @heavytruck !=nil%>
 الشاحنات الثقيلة
<%elsif @semitrailer !=nil%>
 شبه مقطورة 
<%elsif @semitrailertruck !=nil%>
 الشاحنات أشباه المقطورة
<%end%>
<br><br>
<b>انتاج :</b>
<%=@vehicle.make%>
<br><br>
<b>الموديل :</b>
<%=@vehicle.model%><br><br>
<b>معلومات عربة النقل :</b><br>
<%if @make.new%>
جديدة
<%else%>
مستعملة
<%end%> <br>
<%if @make.imported%>
مستوردة
<%else%>
محلية
<%end%> <br>
<%if @make.purchase%>
للبيع
<%else%>
للإيجار
<%end%><br>
<br>

<b>سنة الانتاج :</b>
<%=@vehicle.manyear%><br><br>
<b>البلد :</b>
<%=@vehicle.country%><br><br>
<b>المحاور النقلات :</b>
<%if @vehicle.axles > 3%>
>3
<%else%>
<%=@vehicle.axles%>
<%end%>
<br><br>
<b>عجلة السرعة :</b>
<%if @vehicle.gearbox%>
أتوماتيك
<%else%>
مانيوال

<%end%><br><br>

<b>اللون :</b>
<%=@vehicle.colour%><br><br>
<b>السعر :</b>
<%= number_with_delimiter(@vehicle.price, :delimiter => ',')%><br><br>
<%if @van !=nil %>
<b>حمولة: </b>
<%=@van.capacity%><br><br>
<b>مسافة: </b>
<%=@van.mileage%><br><br>
<%elsif @semitrailer !=nil%>
<b>Capacity</b><br>
<%=@semitrailer.capacity%><br>
<%elsif @semitrailertruck !=nil%>
<b>Mileage</b><br>
<%=@semitrailertruck.mileage%><br>
<%elsif @heavytruck !=nil%>
<b>Capacity</b><br>
<%=@heavytruck.capacity%><br>
<b>Mileage</b><br>
<%=@heavytruck.mileage%><br>
<br>
<%end%>
<%if @ad.description != ""%>
<b>الوصف:</b>
<%=@ad.description%>
<br>
<%end%>
</div>
<div id ="sellerinfo">
<b>بيانات البائع :</b>
<br>
<%=link_to "#{@seller.fname} #{@seller.lname}", "/users/#{@seller.id}"%><br>
 تليفون : 
<br><%=@seller.phone%><br>
 البريد الالكتروني : 
<br> <%=@seller.email%>
<br><br>
<%if @ad.image_url.to_s != ""%>
<%= link_to(@ad.image_url.to_s) do %>
  <%= image_tag @ad.image_url.to_s,size:"300x180" %>
<% end %>
<%end%>
<br>
<%if @ad.image1_url.to_s != ""%>
<%= link_to(@ad.image1_url.to_s) do %>
  <%= image_tag @ad.image1_url.to_s,size:"300x180" %>
<% end %><br>
<%end%>
<br>
<%if @ad.image2_url.to_s != ""%>
<%= link_to(@ad.image2_url.to_s) do %>
  <%= image_tag @ad.image2_url.to_s,size:"300x180" %>
<% end %>
<%end%>
<br>
<%if @ad.image3_url.to_s != ""%>
<%= link_to(@ad.image3_url.to_s) do %>
  <%= image_tag @ad.image3_url.to_s,size:"300x180" %>
<% end %><br>
<%end%>
<br>
<%if @ad.image4_url.to_s != ""%>
<%= link_to(@ad.image4_url.to_s) do %>
  <%= image_tag @ad.image4_url.to_s,size:"300x180" %>
<% end %>
<%end%>
</div>

</div>

