<html>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<br>
<div style ="text-align: left">
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<%= link_to "حفظ الإعلان في الجراج", "/ads/bookmark/#{@ad.id}", method: :post%>
<%else%>
<%= link_to "إزالة الإعلان من الجراج", "/ads/unbookmark/#{@ad.id}", method: :post%>
<%end%><br>
<%if @seller.id == self.current_user.id%>
<%= link_to "إزالة الإعلان", "/ads/delete/#{@ad.id}", method: :post, :style=>'color: red;'%>
<br>
<%= link_to "تعديل الإعلان", "/ads/edit/#{@ad.id}"%>

<%end%>
<%end%>
</div>
<div id = "contacts_stuff">
<b>بيانات البائع</b>
<br>
<%=link_to "#{@seller.fname} #{@seller.lname}", "/users/#{@seller.id}"%><br>
<b> تليفون : </b>
<br><%=@seller.phone%><br>
<b> البريد الالكتروني : </b>
<br> <%=@seller.email%>
</div>
<div id = "trucks_stuff">
<br><b>العنوان</b>
<br>
<%=@ad.title%>
<br>
<b>الوصف</b>
<br>
<%=@ad.description%>
<br>
<b>النوع</b>
<br>
<%if @van!=nil%>
<b>عربة</b>
<%elsif @heavytruck !=nil%>
<b> الشاحنات الثقيلة </b>
<%elsif @semitrailer !=nil%>
<b> شبه مقطورة </b>
<%elsif @semitrailertruck !=nil%>
<b> الشاحنات أشباه المقطورة </b>
<%end%>
<br>
<b>انتاج</b>
<br>
<%=@vehicle.make%>
<br>
<b>الموديل</b>
<br>
<%=@vehicle.model%><br>
<b>معلومات عربة النقل</b><br>
<%if @make.new%>
|<b> جديد </b> <br>
<%end%>
<%if @make.imported%>
| <b> مستورد </b> <br>
<%end%>
<%if @make.purchase%>
<b> مستعمل </b> <br>
<%end%>
<br>

<b>سنة الانتاج</b>
<br>
<%=@vehicle.manyear%><br>
<b>البلد</b>
<br>
<%=@vehicle.country%><br>
<b>المحاور (النقلات) </b>
<br>
<%=@vehicle.axles%><br>
<b>عجلة السرعة</b>
<br>
<%if @vehicle.gearbox == 1%>
Semi Automatic
<%elsif @vehicle.gearbox == 2%>
Manual
<%else%>
<b> أتوماتيك </b>
<%end%><br>
<b>اللون</b>
<br>
<%=@vehicle.colour%><br>
<b>السعر</b>

<br>
<%= number_with_delimiter(@vehicle.price, :delimiter => ',')%><br>

<br>
<%= image_tag @ad.image_url.to_s%>
<%= image_tag @ad.image1_url.to_s%>
<br>
<%= image_tag @ad.image2_url.to_s%>
<%= image_tag @ad.image3_url.to_s%>
<br>
<%= image_tag @ad.image4_url.to_s%>
</div>

<%if @van !=nil %>
<b>Capacity</b><br>
<%=@van.capacity%><br>
<b>Mileage</b><br>
<%=@van.mileage%><br>
<%elsif @semitrailer !=nil%>
<b>Capacity</b><br>
<%=@semitrailer.capacity%><br>
<%elsif @semitrailertruck !=nil%>
<b>Mileage</b><br>
<%=@semitrailertruck.mileage%><br>
<%elsif @heavytruck !=nil%>
<b>Capacity</b><br>
<%=@heavytruck.capacity%><br>
<b>Mileage</b><br>
<%=@heavytruck.mileage%><br>
<%end%>
</div>

</html>

