<br>
<div style ="text-align: left">
<%if self.current_user !=nil%>
<%if !Bookmark.exists?(user_id: self.current_user, ad_id: @ad.id)%>
<%= link_to "حفظ الإعلان في الجراج", "/ads/bookmark/#{@ad.id}", method: :post%>
<%else%>
<%= link_to "إزالة الإعلان من الجراج", "/ads/unbookmark/#{@ad.id}", method: :post%>
<%end%>
<%end%>
</div>

<b>Title</b>
<br>
<%=@ad.title%>
<br>
<b>Description</b>
<br>
<%=@ad.description%>
<br>
<b>Make</b>
<br>
<%=@vehicle.make%>
<br>
<b>Model</b>
<br>
<%=@vehicle.model%><br>
<b>Manyear</b>
<br>
<%=@vehicle.manyear%><br>
<b>Country</b>
<br>
<%=@vehicle.country%><br>
<b>Axles</b>
<br>
<%=@vehicle.axles%><br>
<b>Gearbox</b>
<br>
<%if @vehicle.gearbox == 1%>
Semi Automatic
<%elsif @vehicle.gearbox == 2%>
Manual
<%else%>
Automatic
<%end%><br>
<b>Colour</b>
<br>
<%=@vehicle.colour%><br>
<b>Price</b>
<br>
<%=@vehicle.price%><br>

<%if @van !=nil %>
<b>Capacity</b><br>
<%=@van.capacity%><br>
<b>Mileage</b><br>
<%=@van.mileage%><br>
<%elsif @semitrailer !=nil%>
<b>Capacity</b><br>
<%=@semitrailer.capacity%><br>
<%elsif @semitrailertruck !=nil%>
<b>Type</b><br>
<%=@semitrailertruck.type%><br>
<b>Mileage</b><br>
<%=@semitrailertruck.mileage%><br>
<%elsif @heavytruck !=nil%>
<b>Capacity</b><br>
<%=@heavytruck.capacity%><br>
<b>Mileage</b><br>
<%=@heavytruck.mileage%><br>
<b>social_share_button_tag</b><br>
<%= social_share_button_tag("Site") %>
<%end%>

