<h1>Makes#index</h1>
<p>Find me in app/views/makes/index.html.erb</p>
 <%=@makes.each do |f| %>

  <%= @makes.ad.each.with_index do |a| %>
  <%= a.label :Title %>
  <%= a.text_field :title %>
  <br>
  <br>
  <%= a.label :Description %>
  <%= a.text_area :description %>
  <br>
  <br>
  <%= a.label :Phone %>
  <%= a.text_field :phone %>
  <br>
  <br>
  <%= a.label :Email %>
  <%= a.text_field :email %>
  <%end%>

  <%= f.fields_for :vehicle do |v| %>
  <%= v.label :Make%>
  <br>
  <%=v.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
  <br>
  <%= v.label :Model%>
  <br>
  <%=v.select :model,([ "i10" , "w30" , "503"])%>
  <br>
  سنة الصنع
  <br>
  <%=v.number_field :manyear%>
  <br>
  المكان
  <br>
  <%=v.select :country ,(["مصر" , "المملكة العربية السعودية", "اﻹمارات المتحدة", "الكويت"])%>
  <br>
  عدد المحاور
  <br>
  <%=v.select :axles, options_for_select([['1', 1],['2', 2],['3', 3],['3', 4]])%>
  <br>
  ناقل الحركة
  <br>
  يدوي
  <%=v.check_box :gearbox %>
  <br>
  اللون
  <br>
  <%=v.select :colour, options_for_select([["أبيض"],["أسود"]])%>
  <br>
  السعر
  <br>
  <%= v.number_field :price %>
  <%end%>
  <%end%>
