<div id = "adwrapper">

<%= form_for :user, :html => {:multipart => true} do |f|%>
<%if @blank%>
<span class ="error">  <%=t("signup_page.error")%></span>
<%end%>
<br>
    <p><%=t("signup_page.email")%><%if @email==""%><span style = "color: red;"> * </span><%end%> </p>
    <%= f.email_field :email, :value => @email%>
    <p><%=t("signup_page.password")%><%if @password==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.password_field :password%>
     <p><%=t("signup_page.password_confirmation")%><%if @password==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.password_field :password_confirmation%>
    <p><%=t("signup_page.name")%><%if @fname==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.text_field :fname, :value => @fname %>
    <p><%=t("signup_page.surname")%><%if @lname==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.text_field :lname, :value => @lname%>
     <p><%=t("signup_page.country")%><%if @country==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.text_field :country, :value => @country %>
    <p><%=t("signup_page.phone")%><%if @phone==""%><span style = "color: red;"> * </span><%end%></p>
    <%= f.text_field :phone , :value => @phone%><br>
    <p> <%=t("signup_page.phone")%>  </p>
    <%= f.file_field :avatar%>
    <br>
    <br>
    <%= f.submit t("header.signup")%>
<% end %>
</div>

