
<div id="adwrapper">
<div style="float:right;">
<ul>
<li>
	<%if @user.avatar_url != nil%>
	  <%= link_to(@user.avatar_url.to_s) do %>
	    <%= image_tag @user.avatar_url.to_s,size:"100x100" %>
	  <% end %>
	<%else%>
	  <%= image_tag "user.png", size: "100x100"%>
	<%end%></li>
<li><b><%= t("signup_page.name")%>: </b><%= @user.fname%></li>
<li><b> <%= t("signup_page.surname")%>: </b><%= @user.lname%></li>
<li><b><%= t("signup_page.email")%>: </b><%= @user.email%></li>
<li><b><%= t("ad.manu")%>: </b><%= @user.country%></li>
<li><b><%= t("signup_page.phone")%>: </b><%= @user.phone%></li>
</ul>
<%if self.current_user != nil && @user.id == self.current_user.id%>
<li><%= link_to "/users/edit",'data-no-turbolink' => true do %>
	  <%= image_tag "edit.png", size:"20x20"%>
	<% end %>
<%= link_to t("users.edit"), "/users/edit",'data-no-turbolink' => true%></li>
<li><%= link_to "destroy/#{self.current_user.id}", method: :post,data: {confirm: 'Are you sure?'} do %>
	  <%= image_tag "delete.png", size:"16x16"%>
	<% end %>
<%= link_to  t("users.rm"), "destroy/#{self.current_user.id}", :style=>'color: red', method: :post,data: {confirm: 'Are you sure?'}%></li>
<%end%>


<%= link_to( "اعلانات البائع", :controller => "users", :action => "index", :id => @user.id)%>
</div>
<%if @companyseller != nil and @companyseller.lat != nil%>
<div id="map" style='width: 50%; height: 400px;border:1px solid #000;float:left;'>
        <script>
	  var lng = <%=@companyseller.lng%>;
	  var lat = <%=@companyseller.lat%>;
	  handler = Gmaps.build('Google');
	  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  marker = handler.addMarker({"lat": lat,"lng": lng});
	  handler.bounds.extendWith(marker);
	  handler.fitMapToBounds();
	  handler.map.centerOn([lat, lng]);
	  handler.getMap().setZoom(16);
	});
</script>
</div>
<%end%>
</div>
