
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="./assets/javascripts/jquery.bootstrap-growl.js"></script>

</head>
<b>الاسم: </b><%= @user.fname%><br>
<br>
<b> اسم العائلة: </b><%= @user.lname%>
<br><br>
<b>البريد الالكتروني: </b><%= @user.email%>
<br><br>
<b>البلد: </b><%= @user.country%>
<br><br>
<b>الهاتف: </b><%= @user.phone%>
<br><br>
<br>
<%if self.current_user != nil && @user.id == self.current_user.id%>
<%= link_to "تعديل البيانات", "edit/#{@user.id}", method: :get%>
<div style="color: red">
<%= link_to "إلغاء الحساب", "destroy/#{@user.id}",
:style=>'color: red', method: :post ,data: {confirm: 'Are you sure?'}%>
</div>
<%end%>
</h3>