<b>الاسم: </b><%= @user.fname%><br>
<br>
<b> اسم العائلة: </b><%= @user.lname%>
<br><br>
<b>البريد الالكتروني: </b><%= @user.email%>
<br><br>
<b>البلد: </b><%= @user.country%>
<br><br>
<b>الهاتف: </b><%= @user.phone%>
<br><br>

<br>
<%if current_user.avatar_url != nil%>
	<%= image_tag current_user.avatar_url.to_s%>
	<%else%>
	<%= image_tag "user.png"%>
	<%end%>
<br>

<%if self.current_user!=nil && Seller.exists?(self.current_user.id)%>
<li>
	<%= link_to "اضافة اعلان", '/ads/new'%>
</li>
<% end %>

<%if self.current_user !=nil && Seller.exists?(self.current_user.id)%>
<li>
<%=link_to "تحويل الى بائع", :controller => :users, :action => :changetoseller%>
</li>
<%end%>
				
<%if self.current_user != nil && @user.id == self.current_user.id%>
<%= link_to "تعديل البيانات", "edit/#{@user.id}", method: :get%>
<div style="color: red">
<%= link_to "إلغاء الحساب", "destroy/#{@user.id}",
:style=>'color: red', method: :post ,data: {confirm: 'Are you sure?'}%>
</div>
<%end%>
</h3>