<div id = "adwrapper">
<%= form_for :login do |f|%>
<%if @wrong%>
<span class ="error"><%= t("signup_page.pass_error")%> </span>
<%end%>
<%if @blank %>
<span class ="error">  <%= t("signup_page.error")%></span>
<%end%>
<br>

  <p><%= t("signup_page.email")%> <%if @email==""%><span style = "color: red;"> * </span><%end%></p>

    <%= f.email_field :email, :value => @email%>

<p><%= t("signup_page.password")%> <%if @password==""%><span style = "color: red;"> * </span><%end%></p>

    <%= f.password_field :password %>
  </p>
    <%= f.submit  t("ad.save")%>
  </p>
<% end %>
</div>
