<h1>vehicle#create</h1>
<%= form_for :vehicle do |f| %>
<%= f.label :Make %>
<br>
<%= f.text_field :make %>
<br>
<%= f.label :Model %>
<br>
<%= f.text_field :model %>
<br>
<p> Manufacture Year
<br>
<%= f.date_select :manyear, :order => [:day, :month, :year] , :start_year => (Date.today.year	 - 100)  %>
</p>
<%= f.label :Country%>
<br>
<%= f.text_field :country %>
<br>
<%= f.label :Axles %>
<br>
<%= f.number_field(:axles, in: 1..6, step: 1) %>
<br>
Gear Box 
<br>
<%= f.text_field :gearbox %>'
<%= select_tag(:gearbox, options_for_select(["Manual","Automatic","Semi-Automatic"])) %>
<% options = options_from_collection_for_select(@vehicles,'gearbox') %>
<%= f.select :all_val , options %>

<%end%>