<<<<<<< HEAD
<h1>semitrailers</h1>
<p>Find me in app/views/vehicles/new.html.erb</p>
<%= form_for :vehicle do |f| %>

<p>
<%=f.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
<%= f.label :Make%>
</p>

<p>
<%=f.select :model,([ "i10" , "w30" , "503"])%>
<%= f.label :Model%>
</p>

<p>
<%=f.number_field :manyear%>
Manufacture Year
</p>

<p>
<%=f.select :country ,(["Egypt" , "madagascar"])%>
<%= f.label :Country%>
</p>

<p>
<%=f.select :axles, (["1","2","3","4","5","6","7","8"])%>
Number of Axels
</p>

<p>
<%=f.select :gearbox , (["Automatic", "semi Automatic" ,"Manual"])%>
<%= f.label :Gearbox%>
</p>

<p>
<%=f.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
<%= f.label :Colour%>
</p>

<p>
<%=f.number_field :capacity%>
<%= f.label :Capacity%>
</p>

<p>
<%=f.number_field :price%>
<%= f.label :Price%>
</p>
=======
<div style="text-align: center">
|<span><%= link_to "VAN", "/vans/new",:style=>'color: black'%></span> | 
<span><%= link_to "SEMITRAILER", "/semitrailers/new",:style=>'color: grey'%></span> |
<span><%= link_to "HEAVYTRUCK", "/heavytrucks/new",:style=>'color: black'%></span> |
<span><%= link_to "SEMITRAILERTRUCK", "/semitrailertrucks/new",:style=>'color: black'%></span> |
</div>
<%if @blank%>
<span class ="error">يوجد بيانات فارغة*</span>
<%end%>
<%= form_tag do %>
<%= render 'ads/adform'%>
<%= label_tag :Capacity%>
<br>
<%= number_field_tag :capacity%>
<br>
<%=submit_tag%>
>>>>>>> a657be456c99cf3d2f7236d9c3f09847e551d410

<%end%>
