<div style="text-align: center">
|<span><%= link_to "VAN", "/vans/new",:style=>'color: black'%></span> | 
<span><%= link_to "SEMITRAILER", "/semitrailers/new",:style=>'color: grey'%></span> |
<span><%= link_to "HEAVYTRUCK", "/heavytrucks/new",:style=>'color: black'%></span> |
<span><%= link_to "SEMITRAILERTRUCK", "/semitrailertrucks/new",:style=>'color: black'%></span> |
</div>
<%= form_tag do %>

<%=label_tag :Title%>
<br>
 <%= text_field_tag :title %>
<br>
<%=label_tag :Description%>
<br>
 <%= text_field_tag :description %>
<br>
<%= hidden_field_tag 'new', 0 %>
New
<input id="new" name="new" type="checkbox" value="1" />
<br>
<%= hidden_field_tag 'purchase', 0 %>
Purchase
<input id="purchase" name="purchase" type="checkbox" value="1" />
<br>
<%= hidden_field_tag 'imported', 0 %>
Imported
<input id="imported" name="imported" type="checkbox" value="1" />
<br>
<%=label_tag :Make%>
<br>
 <%= select_tag(:make, options_for_select([['Mercedes', 'Mercedes'],
                 ['Man', 'Man'],['Volvo','Volvo'],['Chevrolet','Chevrolet']], 'Mercedes')) %>
<br>

<%= label_tag :Model%>
<br>
<%= select_tag(:model, options_for_select([['i10', 'i10'],
                 ['w30', 'w30'],['503','503']], 'i10')) %>
<br>
<p>Manufacture year</p>
<%=number_field_tag :manyear%>
<br>
<%= label_tag :Country%>
<br>
<%= select_tag(:country, options_for_select([['Egypt', 'Egypt'],
                 ['madagascar', 'madagascar']], 'Egypt')) %>
<br>


<p>Number of Axels</p>
<%= select_tag(:axles, options_for_select([['1', 1],['2', 2],['3', 3],['4', 4],['5', 5],['6', 6],['7', 7],['8', 8]], 1)) %>
<br>


<%= label_tag :Capacity%>
<br>
<%= number_field_tag :capacity%>
<br>
<%= label_tag :Gearbox%>
<br>
<%= select_tag(:gearbox, options_for_select([['Automatic', 0],['Semi Automatic', 1],['Manual', 2]], 'Automatic')) %>

<br>

<br>
<%=label_tag :Colour%>
<br>
<%= select_tag(:colour, options_for_select([['white', 'white'],['black', 'black'],['yellow', 'yellow'],['brown', 'brown'],['green', 'green'],['red', 'red'],['orange', 'orange'],['blue', 'blue'],['grey', 'grey']], 'white')) %>
<br>

<br>
<%= label_tag :Price%>
<br>
<%=number_field_tag :price%>
<br>


<%=submit_tag%>

<%end%>
