<h1>semitrailers</h1>
<p>Find me in app/views/vehicles/new.html.erb</p>
<%= form_for :vehicle do |f| %>

<p>
<%=f.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
<%= f.label :Make%>
</p>

<p>
<%=f.select :model,([ "i10" , "w30" , "503"])%>
<%= f.label :Model%>
</p>

<p>
<%=f.number_field :manyear%>
Manufacture Year
</p>

<p>
<%=f.select :country ,(["Egypt" , "madagascar"])%>
<%= f.label :Country%>
</p>

<p>
<%=f.select :axles, (["1","2","3","4","5","6","7","8"])%>
Number of Axels
</p>

<p>
<%=f.select :gearbox , (["Automatic", "semi Automatic" ,"Manual"])%>
<%= f.label :Gearbox%>
</p>

<p>
<%=f.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
<%= f.label :Colour%>
</p>

<p>
<%=f.number_field :capacity%>
<%= f.label :Capacity%>
</p>

<p>
<%=f.number_field :price%>
<%= f.label :Price%>
</p>

<p>
<%=f.submit%>
</p>
<%end%>
