<h1>Vehicles#new</h1>
<p>Find me in app/views/vehicles/new.html.erb</p>

<%= form_for @vehicle do |v| %>


<%= v.label :Make%>
<br>
<%=v.select :make,(["Mercedes" , "Man" , "Volvo" , "Chevrolet"]) %>
<br>

<%= v.label :Model%>
<br>
<%=v.select :model,([ "i10" , "w30" , "503"])%>
<br>
<p>Manufacture year</p>
<%=v.number_field :manyear%>
<br>
<%=v.select :country ,(["Egypt" , "madagascar"])%>
<br>
<%= v.label :Country%>
<br>

<p>Number of Axels</p>
<%=v.select :axles, (["1","2","3","4","5","6","7","8"])%>
<br>
<%= v.fields_for :heavytruck do |h| %>

<%= h.label :Capacity%>
<br>
<%= h.number_field :capacity%>
<br>
<%= h.label :Mileage%>
<br>
<%= h.number_field :mileage%>
<% end %>

<br>
<%= v.label :Gearbox%>
<br>
<%=v.select :gearbox , (["Automatic", "semi Automatic" ,"Manual"])%>
<br>

<br>
<%= v.label :Colour%>
<br>
<%=v.select :colour ,(["white","black","yellow","brown","green","red","orange","blue","grey"])%>
<br>

<br>
<%= v.label :Price%>
<br>
<%=v.number_field :price%>
<br>


<%=v.submit%>

<%end%>
