<h1>Heavytrucks#index</h1>
<p>Find me in app/views/heavytrucks/index.html.erb</p>
<%= @vehicles.each do |p| %>
<% if p.heavytruck != nil %>
<% if p.id == p.heavytruck.vehicle_id%>
ID:
<%=p.id%>
<br>
<br>
Make:
<%= p.make %>
<br>
<br>
Model:
<%= p.model %>
<br>
<br>
Manufacture Year:
<%= p.manyear %>
<br>
<br>
Country:
<%= p.country %>
<br>
<br>
Axles:
<%= p.axles %>
<br>
<br>
Gearbox:
<%= p.gearbox %>
<br>
<br>
Colour:
<%= p.colour %>
<br>
<br>
Price:
<%= p.price %>
<br>
<br>
<% if p.heavytruck != nil %>
Mileage:
<%= p.heavytruck.mileage%>
<% end %>
<br>
===========
<br>
<% end %>
<% end %>
<% end %>
