<div style="text-align: center">
<span><%= link_to "VAN", "/vans/new",:style=>'color: black'%></span> |
<span><%= link_to "SEMITRAILER", "/semitrailers/new",:style=>'color: black'%></span> |
<span><%= link_to "HEAVYTRUCK", "/heavytrucks/new",:style=>'color: grey'%></span> |
<span><%= link_to "SEMITRAILERTRUCK", "/semitrailertrucks/new",:style=>'color: black'%></span> |
</div>
<%if @blank%>
<span class ="error">يوجد بيانات فارغة*</span>
<%end%>
<%= form_tag do %>
<%= render 'ads/adform'%>
<%= label_tag :Capacity%>
<br>
<%= number_field_tag :capacity%>
<br>
<%= label_tag :Mileage%>
<br>
<%= number_field_tag :mileage%>
<br>
<%=submit_tag%>

<%end%>

