
<!DOCTYPE html>

<html dir="rtl" id="body">

<head>
<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/component.css" />

  <title>MasreyaTrucks</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <div id="header">

  <div id="headerRight">
  <%= link_to "home", root_path%><br>
  <%if self.current_user==nil %>
<%= link_to "فتح حساب", "/users/new"%>
<%= link_to "تسجيل الدخول", "/users/signin"%>
<%else%>
<div style = "text-align: left">
<%if self.current_user != nil%>
<div id="dl-menu" class="dl-menuwrapper">
  <button class="dl-trigger">Open Menu</button>
  <ul class="dl-menu">
       <li>
<%= link_to "تعديل البيانات", "edit/#{@user.id}", method: :get%></li>

<li><%= link_to "إلغاء الحساب", "destroy/#{@user.id}",method: :post ,data: {confirm: 'Are you sure?'}%></li>

        <li><%= link_to "صفحة الإعلانات المحفوظة", "/users/bookmark/#{self.current_user.id}"%></li>
        <li><%= link_to "صفحة الحساب", "/users/#{self.current_user.id}"%></li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="./assets/javascripts/jquery.dlmenu.js"></script>
  <%= javascript_include_tag('jquery.dlmenu.js') %>
  <script>
      $(function() {
        $( '#dl-menu' ).dlmenu({
          animationClasses : { classin : 'dl-animate-in-3', classout : 'dl-animate-out-3' }
        });
      });
    </script>
<%end%>


</div>


<% if self.current_user.email != nil%>
<%= link_to "صفحة الحساب", "/users/#{self.current_user.id}"%>

<%= link_to "تسجيل الخروج", "/users/logout", method: :post%>
</div><br>
<div id="headerLeft">
<%= link_to "صفحة الإعلانات المحفوظة", "/users/bookmark/#{self.current_user.id}"%><br>
<%end%>
<%end%>

</head>
<body style="background:#CDEBCD;">
<%if self.current_user!=nil && Seller.exists?(self.current_user.id)%>

<%= link_to "إضافة إعلان", "/ads/new"%>
<%end%>

</div><br><br>
<div id="headerRight">
  <% if current_user %>
    مرحباً <strong><%= current_user.name %></strong>!
    <%= link_to "تسجيل الخروج", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "تسجيل الدخول عن طريق Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>



</div>
<div style="margin-top:-30px;margin-left:400px;margin-right:400px;height:0px;">
<button id="searchbutton" style="font-size:20px;color:#000000">
<div style="margin-left:40px;"> البحث</div>
  </button>
  <button id="vanbutton" style="font-size:20px;color:#000000">
<div style="margin-left:40px;">VAN</div>
  </button>
  <button id="semibutton" style="font-size:20px;color:#000000">
<div style="margin-left:40px;">SEMI</div>
  </button>
  <button id="sttbutton" style="font-size:20px;color:#000000">
<div style="margin-left:40px;">STT</div>
  </button>
  <button id="heavybutton" style="font-size:20px;color:#000000">
<div style="margin-left:40px;">HEAVY</div>
  </button>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div id="searchwrapper">
<%=render 'ads/searchform'%>
</div>



</div>

</div>
<div style="color:red;">
<%= flash[:error] %>
</div>
<%= yield %>

</body>
</html>

