<!DOCTYPE html>
<html dir="rtl">

<head>
  <title>MasreyaTrucks</title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
 
  <div id="header">

  <div id="headerRight">
  <%= link_to "home", root_path%><br>
  <%if self.current_user==nil %>
<%= link_to "فتح حساب", "/users/new"%>
<%= link_to "تسجيل الدخول", "/users/signin"%>
<%else%>
<%= link_to "صفحة الحساب", "/users/#{self.current_user.id}"%>
<%= link_to "تسجيل الخروج", "/users/logout", method: :post%>
</div><br>
<div id="headerLeft">
<%= link_to "صفحة الإعلانات المحفوظة", "/users/bookmark/#{self.current_user.id}"%>
<%end%>
<br>
</head>
<body>
<%if self.current_user!=nil && Seller.exists?(self.current_user.id)%>
<%= link_to "إضافة إعلان", "/ads/new"%>
<%end%>
</div><br><br>
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "تسجيل الدخول عن طريق Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div> 
<div id="searchbutton">
  <button style="border-radius:25px;border:2px solid;width:200px;">Search</button>
  </div>
  
<div id="searchwrapper">
<%=render 'ads/searchform'%>
</div>
</div>
<%= yield %>

</body>
</html>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
