<!DOCTYPE html>
<html dir="rtl">
 <%#= javascript_include_tag '', 'application' %>
 <%= javascript_include_tag('script.js') %>
</script>
<head>
<link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/component.css" />
  <title>MasreyaTrucks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %><div id="header">
  <%= link_to "home", root_path%>
  <%if self.current_user==nil %>
<%= link_to "فتح حساب", "/users/new"%>
<%= link_to "تسجيل الدخول", "/users/signin"%>
<%else%>
<div style = "text-align: left">
<%if self.current_user != nil && @user.id == self.current_user.id%>
<div id="dl-menu" class="dl-menuwrapper">
  <button class="dl-trigger">Open Menu</button>
  <ul class="dl-menu">
       <li>
<%= link_to "تعديل البيانات", "edit/#{@user.id}", method: :get%></li>

<li><%= link_to "إلغاء الحساب", "destroy/#{@user.id}",
:style=>'color: red', method: :post ,data: {confirm: 'Are you sure?'}%></li>

        <li> <%=link_to "صفحةك", "/users/#{self.current_user.id}"%></li>
          <li><%= link_to "تسجيل الخروج", "/users/logout", method: :post%></li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="./assets/javascripts/jquery.dlmenu.js"></script>
  <%= javascript_include_tag('jquery.dlmenu.js') %>
  <script>
      $(function() {
        $( '#dl-menu' ).dlmenu({
          animationClasses : { classin : 'dl-animate-in-3', classout : 'dl-animate-out-3' }
        });
      });
    </script>
<%end%>

<%= link_to "صفحة الإعلانات المحفوظة", "/users/bookmark/#{self.current_user.id}"%>
</div>
<%= link_to "صفحة الحساب", "/users/#{self.current_user.id}"%>

<%= link_to "تسجيل الخروج", "/users/logout", method: :post%>
<%end%>

</head>
<body>
<%if self.current_user!=nil && Seller.exists?(self.current_user.id)%>
<div style="text-align: left">
<%= link_to "إضافة إعلان", "/ads/new"%>
</div>
<%end%>
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "تسجيل الدخول عن طريق Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div> 
</div>
<%= yield %>

</body>
</html>
